body {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    grid-template-areas: 
    "greeting"
    "clock"
    "date"
    "timeonmars"
    "years"
    "month"
    "days"
    "hours"
    "minutes"
    ;
}

.greeting-section {
    grid-area: greeting;
}

.clock-section {
    grid-area: clock;
}

.date-section {
    grid-area: date;
}

.timeonmars-section {
    grid-area:timeonmars;
}

.years-section {
    grid-area: years;
}

.month-section {
    grid-area: month;
}

.days-section {
    grid-area: days;
}

.hours-section {
    grid-area: hours;
}

.minutes-section {
    grid-area: minutes;
}


@media only screen and (min-width: 601px){

    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        /* Het einge verschil tussen de tablet en de telefoon is de grid-gap */
        grid-template-areas: 
        "greeting"
        "clock"
        "date"
        "timeonmars"
        "years"
        "month"
        "days"
        "hours"
        "minutes"
        ;
    }

}


@media only screen and (min-width: 901px){

    body { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas:
        "greeting greeting greeting greeting greeting greeting"
        "clock clock clock clock clock clock"
        "date date date date date date"
        "timeonmars timeonmars timeonmars timeonmars timeonmars timeonmars"
        "years years month month days days"
        /* Hier komen de uren en de minuten naar beneden, omdat ze de grootste getallen zijn */
        "hours hours hours minutes minutes minutes"   
        ;
    }

}

@media only screen and (min-width: 1200px){

    body { max-width: 1200px;
        margin: auto;
        /*Hier wordt aangegeven dat de body max-width mag krijgen om niet tot het oneindige te laten stretchen*/
      }

    body { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas:
        "greeting greeting greeting greeting greeting"
        "clock clock clock clock clock"
        "date date date date date"
        "timeonmars timeonmars timeonmars timeonmars timeonmars"
        "years month days hours minutes"
        
        ;
    }

}