body { 
    /*Grid met mobile first design*/
    display: grid;
    grid-template-columns: 1fr;
    /*De grid gap is hier 0px om de gebruiker niet teveel naar beneden te laten scrollen*/
    grid-gap: 0px;
    grid-template-areas:
    "greeting"
    "clock"
    "date";
    
}

.greeting {
    grid-area: greeting;
}

.clock {
    grid-area: clock;
}

.date {
    grid-area: date;
}


@media only screen and (min-width: 601px){
    body { 
        display: grid;
        grid-template-columns: 1fr;
        /* Wanneer het scherm iets groter wordt, komt hier meer grid-gap omdat er meer ruimte beschikbaar is*/
        grid-gap: 10px;
        grid-template-areas:
        "greeting"
        "clock"
        "date";
    }
}

@media only screen and (min-width: 901px){
    body { 
        display: grid;
        grid-template-columns: 1fr;
        /* Wanneer het scherm iets groter wordt, komt hier meer grid-gap omdat er meer ruimte beschikbaar is*/
        grid-gap: 25px;
        grid-template-areas:
        "greeting"
        "clock"
        "date";
    }
}

@media only screen and (min-width: 1200px){

    body { max-width: 1200px;
        margin: auto;
        /*Hier wordt aangegeven dat de body max-width mag krijgen om niet tot het oneindige te laten stretchen*/
      }
      body { 
        display: grid;
        grid-template-columns: 1fr;
        /* Wanneer het scherm iets groter wordt, komt hier meer grid-gap omdat er meer ruimte beschikbaar is*/
        grid-gap: 30px;
        grid-template-areas:
        "greeting"
        "clock"
        "date";
    }
}