html {
	box-sizing: border-box;
}

*, 
*:before,
*:after{
	box-sizing: inherit;
}

#body {
    transition-duration: 10s;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@font-face {
    /* Toevoegen van een font om te gebruiken */
    font-family: "ComicSans";
    src: url("../fonts/ComicSans.ttf");
    }

p {
    margin: 0;
    color: white;
    font-family: 'ComicSans', Arial, sans-serif;
}

#greeting {
    font-size: 30px;
    transition-duration: 2s;
}

#greeting.hover {
    font-size: 40px;
    transition-duration: 2s;
}


#time{
    font-size: 30px;
    animation: 5000ms breath infinite alternate ease-in-out;

}
/* Deze bron heeft mij hier gehlopen met de @keyframes*/
/* @keyframes - CSS: Cascading Style Sheets | MDN. (2021, 15 maart). MDN. https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes */
@keyframes breath {
    0% {
        font-size:35px;
    }
    100% {
        font-size: 50px;
    }
}


.greeting-section {
 height: 200px;
 margin-top: 10px;
}

.clock-section {
    height: 200px;
}

.date-section {
    height: 50px;
}

.timeonmars-section {
    height: 50px;
}

#timeonmars {
    text-decoration: underline;
}
.years-section {
    height: 50px;
}
.month-section {
    height: 50px;
}
.days-section {
    height: 50px;
}
.hours-section {
    height: 50px;
}
.minutes-section {
    height: 50px;
}